<ion-header [translucent]="true" class="ion-text-center">
  <ion-toolbar>
    <ion-title>
      <h1>SkeletonApp</h1>
      <h6>Aqui es donde todo comienza</h6>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="ion-text-center  ion-no-border">
    <ion-toolbar>
      <ion-title size="large">{{message}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <br> <br>
  <ion-input [(ngModel)]="username" label="Username" labelPlacement="floating"></ion-input>
  <ion-input [(ngModel)]="password" label="Password" labelPlacement="floating" type ="password"></ion-input>
  <ion-button expand="block"(click)="validationLogin()" >Ingresar</ion-button> 
  <div class="ion-text-center">
    <a class="a-link">Crea tu cuenta gratis</a>
  </div>
</ion-content>

  

  
  
  
  

  

 